/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/common.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/CSS3";



body {
    background: #DCE1E1;
    font-family: "Microsoft Jhenghei", "DFKai-sb";
}

.hand {
    cursor: pointer;
}

