/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/CSS3";

$h1 : 42px;


#left {
    float: left;
    margin-left: 30px;
    display: inline-block;

    h1 {
        font-size: $h1;
        &.brand {
            img {
                display: inline-block;
                height: $h1*4;
                @include border-radius(50%);
            }
        }
    }


    h4 {
        margin-top: $h1 * 0.2;
        margin-left: $h1 * 1;
        font-size: $h1 * 0.6;  
    }

    p {
        line-height: 160%;
    }
}

#right {
    float: right;
}

#county-name {
    height: 40px;
    text-align: right;
    margin-right: 290px;
}

#main {
    margin-top: 50px;
    max-width: 300px;
}

.align-right {
    text-align: right;
}

