/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/CSS3";

$h1 : 42px;
$nav-height : 50px;


[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}



body {
    font-size: 16px;
}

#myNav {
    position:fixed;
    z-index: 2;
    display: block;
    $rad: 180px;
    @include background-image(radial-gradient($rad $rad, cyan 5px, dodgerblue $rad));
    width: 100%;
    height: $nav-height;
    a {
        position: absolute;
        left:50%;
        img {
             margin-top:3px;
             margin-bottom:3px;
             height: $nav-height - 3px *2;
             margin-left: - ($nav-height - 3px *2) / 2;
        }
    }

    #county-name-wrapper {
        display: inline-block;
        padding-top:12px;
        padding-left:15px;
        width: 320px;
    }
}



#intro-wrapper {
    border-left: 3px dodgerblue solid;
    position: absolute;
    top: 50px;
    left: 10%;
    width: 80%;
    padding: 15px;
    z-index: 2;

    #intro {
        h1 {
            font-size: $h1;
            &.brand {
                img {
                    display: inline-block;
                    height: $h1*4;
                    @include border-radius(50% 50% 0% 0%);
                    @include filter(contrast(200%));
                }
            }
        }


        h4 {
            margin-top: $h1 / 2;
            margin-bottom: $h1 / 2;
            margin-left: $h1;
            font-size: $h1 * 0.6;  
        }

        p {
            line-height: 160%;
        }
        p:nth-child(odd) {
            color: red;
        }


        #start {
            cursor: pointer;
            color: dodgerblue;
        }


        .divider {
            display: block;
            border-top: 1px solid mix(black, dodgerblue);
            height: 0px;
            margin-top: $h1 / 2;
            margin-bottom: $h1 / 2;
            margin-left: $h1;
            width: 12%;
        }

        #main-intro {

        }

    }
}


#main-map {

}


footer {
    position: fixed;
    text-align: right;
    bottom: 0px;
    width: 100%;
    height: 25px;
    font-size: 11px;
    @include animation(
        runner 20s linear forwards infinite);

    #itsOK {
        display: inline-block;
        width: 640px;
        cursor: not-allowed;
    }
}




/* animation */

@mixin keyFrames($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}


@include keyFrames(runner) {
  0% { right: -50%; color: mix(red, black); }
  100% { right: 100%; color: red; }
}




/* responsive */

@media screen and (max-width:770px) {
    .noPhone {
        display:none;
    }
}



/* arrowHeads */

.arrowHead{
    $a: 4px;
    display:inline-block;
    width:0px;
    margin-right: $a*2;
    position:relative;
    top: -$a / 2;
    left: $a * 2;


    &.right, &.left { 
        border-top: $a solid transparent;
        border-bottom: $a solid transparent;   
    }
    &.right{
        border-left: $a solid black;                    
    }
    &.left{
        border-right: $a solid black;                      
    }
    &.up, &.down {        
        border-left: $a solid transparent;
        border-right: $a solid transparent; 
    }
    &.up{
        border-bottom: $a solid black;
    }
    &.down{
        border-top: $a solid black;
    }
}





/* old */

.container {
    overflow: auto;
}

#left {
    float: left;
    width : 25%;
    margin-top: $nav-height;
    margin-left: $nav-height;
    display: inline-block;

    h1 {
        font-size: $h1;
        &.brand {
            margin-left: -$nav-height;
            img {
                display: inline-block;
                height: $h1*4;
                @include border-radius(50%);
                @include filter(contrast(200%) brightness(88%));
            }
        }
    }


    h4 {
        margin-top: $h1 * 0.2;
        margin-left: $h1 * 1;
        font-size: $h1 * 0.6;  
    }

    p {
        line-height: 160%;
        
    }


    #main {
        margin-top: 50px;
        max-width: 300px;
    }

    .align-right {
        text-align: right;
    }
}



#right {
    width : 65%;
    float: right;
    height : 800px;

}

#county-name {
    height: 40px;
    text-align: right;
    margin-top: 5px;
    margin-right: 25%;
    font-size: 26px;

}




