/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/CSS3";

$h1 : 42px;
$nav-height : 50px;


body {
    font-size: 16px;
}

#myNav {
    position:fixed;
    z-index: 2;
    display: block;
    $rad: 180px;
    @include background-image(radial-gradient($rad $rad, cyan 5px, dodgerblue $rad));
    width: 100%;
    height: $nav-height;
    a {
        position: absolute;
        left:50%;
        img {
             margin-top:3px;
             margin-bottom:3px;
             height: $nav-height - 3px *2;
             margin-left: - ($nav-height - 3px *2) / 2;
        }
    }
}

.container {
    overflow: auto;
}

#left {
    float: left;
    width : 25%;
    margin-top: $nav-height;
    margin-left: $nav-height;
    display: inline-block;

    h1 {
        font-size: $h1;
        &.brand {
            margin-left: -$nav-height;
            img {
                display: inline-block;
                height: $h1*4;
                @include border-radius(50%);
                @include filter(contrast(200%) brightness(88%));
            }
        }
    }


    h4 {
        margin-top: $h1 * 0.2;
        margin-left: $h1 * 1;
        font-size: $h1 * 0.6;  
    }

    p {
        line-height: 160%;
        
    }


    #main {
        margin-top: 50px;
        max-width: 300px;
    }

    .align-right {
        text-align: right;
    }
}


i#line {
    font-size: 14px;
    line-height: 100%;
    text-decoration:italic;
}

#right {
    width : 65%;
    float: right;
    height : 800px;

}

#county-name {
    height: 40px;
    text-align: right;
    margin-top: 5px;
    margin-right: 25%;
    font-size: 26px;

}




@media screen and (max-width:770px) {

    .noPhone {
        display:none;
    }

    #left, #right {
        width : 100%;
        float: none;
    }

    .container {
        height: 3000px;
        overflow: auto;
    }

    i#line {
        font-size: 10px;
    }
}

