{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="{% static "css/flat-ui.css" %}" rel="stylesheet">
        <link href="{% static "css/data-center-tmp.css" %}" rel="stylesheet">
    </head>

    <body>
        <h1>{{ title }}</h1>

        <div class="items">
            {% for item in items %}
                <div>{{ item.content }}</div>
            {% endfor %}
        </div>
    </body>
</html>
