{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="{% static "css/flat-ui.css" %}" rel="stylesheet">
        <link href="{% static "css/data-center-show.css" %}" rel="stylesheet">
    </head>

    <body>
        <div id="header">
            <h1>{{ title }}</h1>
        </div>

        <div id="button-group">
            {% for button in buttons %}
                <div class="button-container">
                    <a class="btn btn-primary" href="/data/{{ button.levels }}/">{{ button.name }}</a>
                </div>
            {% empty %}
                <div class="no-data">目前沒有資料</div>
            {% endfor %}
        </div>
        <div id="horizontal-line">
            <hr>
        </div>
        <div id="insert-item">
            <h4>新增一筆</h4>
            <form action="/data/insert" method="post" class="form-group">
                <input type="hidden" name="subject" value="{{ inputs.subject }}" />
                <input type="hidden" name="redirect" value="{{ inputs.redirect }}" />
                {% csrf_token %}
                {% for input in inputs.list %}
                    {% if input.explicit %}
                    <div class="input-container">
                        <span class="input-prompt">{{ input.title }}</span>
                        <input type="text" name="{{ input.name }}" placeholder="{{ input.placeholder }}" value="{{ input.history }}" class="form-control" />
                    </div>
                    {% else %}
                        <input type="hidden" name="{{ input.name }}" value="{{ input.value }}" />
                    {% endif %}
                {% endfor %}
                <input type="submit" value="送出吧" class="btn btn-primary hand" />
            </form>
        </div>
    </body>
</html>
