{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="{% static "css/flat-ui.css" %}" rel="stylesheet">
        <link href="{% static "css/data-center-show.css" %}" rel="stylesheet">
    </head>

    <body>
        <h1>{{ title }}</h1>

        <div id="button-group">
            {% for button in buttons %}
                <div class="button"><a class="btn btn-primary" href="/data/{{ button.levels }}/">{{ button.name }}</a></div>
            {% endfor %}
        </table>
    </body>
</html>
