/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/screen.scss */
body {
  font-size: 16px;
}

/* line 17, ../sass/screen.scss */
#myNav {
  position: fixed;
  z-index: 2;
  display: block;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjE4MHB4IiBjeT0iMTgwcHgiIHI9IjE4MCUiPjxzdG9wIG9mZnNldD0iMi43Nzc3OCUiIHN0b3AtY29sb3I9IiMwMGZmZmYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZTkwZmYiLz48L3JhZGlhbEdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -moz-radial-gradient(180px 180px, #00ffff 5px, #1e90ff 180px);
  background-image: -webkit-radial-gradient(180px 180px, #00ffff 5px, #1e90ff 180px);
  background-image: radial-gradient(180px 180px, #00ffff 5px, #1e90ff 180px);
  width: 100%;
  height: 50px;
}
/* line 25, ../sass/screen.scss */
#myNav a {
  position: absolute;
  left: 50%;
}
/* line 28, ../sass/screen.scss */
#myNav a img {
  margin-top: 3px;
  margin-bottom: 3px;
  height: 44px;
  margin-left: -22px;
}

/* line 38, ../sass/screen.scss */
#left {
  float: left;
  width: 25%;
  margin-top: 50px;
  margin-left: 50px;
  display: inline-block;
}
/* line 45, ../sass/screen.scss */
#left h1 {
  font-size: 42px;
}
/* line 47, ../sass/screen.scss */
#left h1.brand {
  margin-left: -50px;
}
/* line 49, ../sass/screen.scss */
#left h1.brand img {
  display: inline-block;
  height: 168px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-filter: contrast(200%) brightness(88%);
  filter: contrast(200%) brightness(88%);
}
/* line 59, ../sass/screen.scss */
#left h4 {
  margin-top: 8.4px;
  margin-left: 42px;
  font-size: 25.2px;
}
/* line 65, ../sass/screen.scss */
#left p {
  line-height: 160%;
}
/* line 67, ../sass/screen.scss */
#left p i {
  font-size: 14px;
  line-height: 100%;
  text-decoration: italic;
}

/* line 75, ../sass/screen.scss */
#right {
  width: 65%;
  float: right;
}

/* line 80, ../sass/screen.scss */
#county-name {
  height: 40px;
  text-align: right;
  margin-top: 5px;
  margin-right: 25%;
  font-size: 26px;
}

/* line 89, ../sass/screen.scss */
#main {
  margin-top: 50px;
  max-width: 300px;
}

/* line 94, ../sass/screen.scss */
.align-right {
  text-align: right;
}

@media screen and (max-width: 770px) {
  /* line 101, ../sass/screen.scss */
  #left, #right {
    width: 100%;
    float: none;
  }
}
