/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/screen.scss */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/* line 19, ../sass/screen.scss */
body {
  font-size: 16px;
}

/* line 23, ../sass/screen.scss */
#myNav {
  position: fixed;
  z-index: 2;
  display: block;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjE4MHB4IiBjeT0iMTgwcHgiIHI9IjE4MCUiPjxzdG9wIG9mZnNldD0iMi43Nzc3OCUiIHN0b3AtY29sb3I9IiMwMGZmZmYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZTkwZmYiLz48L3JhZGlhbEdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -moz-radial-gradient(180px 180px, #00ffff 5px, #1e90ff 180px);
  background-image: -webkit-radial-gradient(180px 180px, #00ffff 5px, #1e90ff 180px);
  background-image: radial-gradient(180px 180px, #00ffff 5px, #1e90ff 180px);
  width: 100%;
  height: 50px;
}
/* line 31, ../sass/screen.scss */
#myNav a {
  position: absolute;
  left: 50%;
}
/* line 34, ../sass/screen.scss */
#myNav a img {
  margin-top: 3px;
  margin-bottom: 3px;
  height: 44px;
  margin-left: -22px;
}
/* line 42, ../sass/screen.scss */
#myNav #county-name-wrapper {
  display: inline-block;
  padding-top: 12px;
  padding-left: 15px;
  width: 320px;
}

/* line 52, ../sass/screen.scss */
#intro-wrapper {
  border-left: 3px dodgerblue solid;
  position: absolute;
  top: 50px;
  left: 10%;
  width: 80%;
  padding: 15px;
  z-index: 2;
}
/* line 62, ../sass/screen.scss */
#intro-wrapper #intro h1 {
  font-size: 42px;
}
/* line 65, ../sass/screen.scss */
#intro-wrapper #intro h1.brand img {
  display: inline-block;
  height: 168px;
  -moz-border-radius: 50% 50% 0% 0%;
  -webkit-border-radius: 50%;
  border-radius: 50% 50% 0% 0%;
  -webkit-filter: contrast(150%);
  filter: contrast(150%);
}
/* line 75, ../sass/screen.scss */
#intro-wrapper #intro h4 {
  margin-top: 21px;
  margin-bottom: 21px;
  margin-left: 42px;
  font-size: 25.2px;
}
/* line 82, ../sass/screen.scss */
#intro-wrapper #intro p {
  line-height: 160%;
}
/* line 85, ../sass/screen.scss */
#intro-wrapper #intro p:nth-child(odd) {
  color: red;
}
/* line 90, ../sass/screen.scss */
#intro-wrapper #intro #start {
  cursor: pointer;
  color: dodgerblue;
}
/* line 96, ../sass/screen.scss */
#intro-wrapper #intro .divider {
  display: block;
  border-top: 1px solid #0f487f;
  height: 0px;
  margin-top: 21px;
  margin-bottom: 21px;
  margin-left: 42px;
  width: 12%;
}

/* line 116, ../sass/screen.scss */
#main-map #taiwan {
  margin-top: 50px;
}

/* line 122, ../sass/screen.scss */
footer {
  position: fixed;
  text-align: right;
  bottom: 0px;
  width: 100%;
  height: 25px;
  font-size: 11px;
  -moz-animation: runner 20s linear forwards infinite;
  -webkit-animation: runner 20s linear forwards infinite;
  animation: runner 20s linear forwards infinite;
}
/* line 132, ../sass/screen.scss */
footer #itsOK {
  display: inline-block;
  width: 640px;
  cursor: not-allowed;
}

/* animation */
@-webkit-keyframes runner {
  0% {
    right: -50%;
    color: #7f0000;
  }
  100% {
    right: 100%;
    color: red;
  }
}
@-moz-keyframes runner {
  0% {
    right: -50%;
    color: #7f0000;
  }
  100% {
    right: 100%;
    color: red;
  }
}
@keyframes runner {
  0% {
    right: -50%;
    color: #7f0000;
  }
  100% {
    right: 100%;
    color: red;
  }
}
/* responsive */
@media screen and (max-width: 770px) {
  /* line 168, ../sass/screen.scss */
  .noPhone {
    display: none;
  }
}
/* arrowHeads */
/* line 177, ../sass/screen.scss */
.arrowHead {
  display: inline-block;
  width: 0px;
  margin-right: 8px;
  position: relative;
  top: -2px;
  left: 8px;
}
/* line 187, ../sass/screen.scss */
.arrowHead.right, .arrowHead.left {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
/* line 191, ../sass/screen.scss */
.arrowHead.right {
  border-left: 4px solid black;
}
/* line 194, ../sass/screen.scss */
.arrowHead.left {
  border-right: 4px solid black;
}
/* line 197, ../sass/screen.scss */
.arrowHead.up, .arrowHead.down {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
/* line 201, ../sass/screen.scss */
.arrowHead.up {
  border-bottom: 4px solid black;
}
/* line 204, ../sass/screen.scss */
.arrowHead.down {
  border-top: 4px solid black;
}

/* old */
/* line 215, ../sass/screen.scss */
.container {
  overflow: auto;
}

/* line 219, ../sass/screen.scss */
#left {
  float: left;
  width: 25%;
  margin-top: 50px;
  margin-left: 50px;
  display: inline-block;
}
/* line 226, ../sass/screen.scss */
#left h1 {
  font-size: 42px;
}
/* line 228, ../sass/screen.scss */
#left h1.brand {
  margin-left: -50px;
}
/* line 230, ../sass/screen.scss */
#left h1.brand img {
  display: inline-block;
  height: 168px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 239, ../sass/screen.scss */
#left h4 {
  margin-top: 8.4px;
  margin-left: 42px;
  font-size: 25.2px;
}
/* line 245, ../sass/screen.scss */
#left p {
  line-height: 160%;
}
/* line 251, ../sass/screen.scss */
#left #main {
  margin-top: 50px;
  max-width: 300px;
}
/* line 256, ../sass/screen.scss */
#left .align-right {
  text-align: right;
}

/* line 263, ../sass/screen.scss */
#right {
  width: 65%;
  float: right;
  height: 800px;
}

/* line 270, ../sass/screen.scss */
#county-name {
  height: 40px;
  text-align: right;
  margin-top: 5px;
  margin-right: 25%;
  font-size: 26px;
}
