body {
    background: #DCE1E1;
    font-family: "Microsoft Jhenghei", "DFKai-sb";
}

.clickable {
    cursor: pointer;
}

#whole {
    margin-left: 30px;
    margin-right: 30px;
}

#content {
    width: 600px;
    margin: 0 auto;
}

#title-hline {
    border: 0;
    height: 2px;
    background-color: #34495E;
}

.small-h1 {
    font-size: 50px;
    font-weight: bold;
}

.small-h4 {
    font-size: 26px;
    font-weight: bold;
}

.wide-space {
    display: inline-block;
    width: 16px;
}

#page-title {
    text-align: center;
}

.stars {
    color: #E67E22;
    font-size: 28px;
    font-weight: bold;
}

.status {
    color: #D35400;
    font-size: 24px;
    margin-left: 20px;
}

